.switch__component {
  display: flex;
  align-items: center;

  border-radius: 0px;

  &__movie,
  &__tv {
    width: 80px;
    padding: 0.5rem 0;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    //font-weight: 500;
  }

  &__movie {
    border-top-left-radius: var(--border-radius-1);
    border-bottom-left-radius: var(--border-radius-1);
    margin-right: 0.1rem;
  }

  &__tv {
    border-top-right-radius: var(--border-radius-1);
    border-bottom-right-radius: var(--border-radius-1);
    margin-left: 0.1rem;
  }

  &__movie:hover,
  &__tv:hover {
    filter: brightness(80%);
    transition: var(--transition);
  }
}

.darkGapBorder {
  border-left: 0.5px solid var(--dark-1);
  border-right: 0.5px solid var(--dark-1);
}

.lightGapBorder {
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}

@media screen and (max-width: 640px) {
  .switch__component {
    &__movie,
    &__tv {
      width: 60px;
      font-size: 0.9rem;
    }
  }
}

.activeSwitch {
  font-weight: 500 !important;
  background: var(--primary) !important;
  color: #000 !important;
  //border-radius: 0px !important;
}
