div {
  .menu-icon {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;

    span {
      font-weight: 400;
    }
  }

  .menu-icon:hover {
    color: var(--primary);
    transition: var(--transition);
  }
}

@media screen and (max-width: 786px) {
  div {
    .menu-icon {
      //margin-left: 2rem;
      //margin-right: 2rem;
      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  div {
    .menu-icon {
      margin-left: 0rem;
      span {
        display: none;
      }
    }
  }
}
