.option__main {
  position: relative;
  border-top-left-radius: var(--border-radius-1);
  border-bottom-left-radius: var(--border-radius-1);

  &__current {
    border-right: 2px solid #000;
    font-weight: 500;
    font-size: 0.9rem;
    width: 70px;
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #000;
    padding: 0rem 1rem;
    height: 32.3px;
    border-top-left-radius: var(--border-radius-1);
    border-bottom-left-radius: var(--border-radius-1);
  }

  &__option {
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0rem 1rem;
    height: 32.3px;
    width: 70px;
    text-transform: capitalize;
    position: absolute;
    top: 2.2rem;
    z-index: -1;
    background: #fff;
    color: #000;
    border-radius: var(--border-radius-1);
    box-shadow: 0 3px 6px #000;
  }

  &__option:hover {
    filter: brightness(80%);
    transition: var(--transition);
  }
}

@media screen and (max-width: 786px) {
  .option__main {
    &__current {
      font-weight: 400;
      height: 32.7px;
    }

    &__option {
      font-weight: 400;
      height: 32.7px;
      top: 2.3rem;
    }
  }
}
