.movie__backdrops {
  position: relative;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

// @media screen and (max-width: 786px) {
//   .movie__backdrops {
//     &__inner {
//       padding: calc(58.4px + 1rem) 0 2rem 0;
//       margin: 0 1rem;

//       &__detail {
//         &--title,
//         &--tagline {
//           font-size: 1.5rem;
//         }

//         &--tagline {
//           font-size: 1rem;
//           margin-bottom: 0.5rem;
//         }
//       }

//       &__full {
//         &__backdrops {
//           gap: 1rem;
//           overflow-x: auto;
//           margin-bottom: 2rem;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 640px) {
//   .movie__backdrops {
//     &__inner {
//       &__detail {
//         &--title {
//           font-size: 1.2rem;
//           margin-bottom: 0.5rem;
//         }

//         &--tagline {
//           display: none;
//         }
//       }

//       &__full {
//         &--title {
//           font-size: 1rem;

//           .length {
//             height: 30px;
//             width: 30px;

//             span {
//               font-size: 0.75rem;
//             }
//           }
//         }

//         &__backdrops {
//           grid-template-columns: 1fr 1fr;
//           align-items: flex-start;
//           justify-items: center;
//         }
//       }
//     }
//   }
// }
