.reviews {
  padding: 0rem 2.5% 2rem 2.5%;

  &__title {
    width: fit-content;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;

    .length {
      margin: 0;
      position: relative;
      height: 40px;
      width: 40px;
      background: var(--primary);
      border-radius: 50%;
      margin-left: 0.5rem;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-size: 0.8rem;
      }
    }
  }

  &__title:hover .icon {
    transform: translateX(40%) scale(1.25);
    transition: var(--transition);
  }

  &__loading__error {
    display: flex;
    align-items: flex-start;

    &--loading {
      margin-left: 2rem;
      margin-bottom: 2rem;
    }

    &--error {
      margin-bottom: 6rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 786px) {
  .reviews {
    padding: 0rem 2rem;

    &__title {
      font-size: 1rem;

      .length {
        width: 30px;
        height: 30px;

        span {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .reviews {
    padding: 0rem 1rem;
  }
}
