.video {
  position: relative;
  margin-right: 1rem;
  width: 292px;
  border-radius: var(--border-radius-1);

  iframe {
    width: 292px;
    height: 100%;
    border-radius: var(--border-radius-1);
  }

  .cover {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 292px;
    height: 97%;
  }

  .cover:hover {
    background: rgba(0, 0, 0, 0.2);
    height: 97%;
    transition: var(--transition);
  }
}

.video:last-child {
  margin-right: 0rem;
}

@media screen and (max-width: 786px) {
  .video:last-child {
    margin-right: 1rem;
  }
}
