.backdrop {
  margin-right: 1rem;
  cursor: pointer;
  width: 292px;
  border-radius: var(--border-radius-1);

  .img {
    width: 292px;
    height: 100%;
    border-radius: var(--border-radius-1);
  }

  .img:hover {
    filter: brightness(80%);
    transition: var(--transition);
  }
}

.backdrop:last-child {
  margin-right: 0rem;
}

@media screen and (max-width: 786px) {
  .backdrop:last-child {
    margin-right: 1rem;
  }
}
